/* CSS for Body */
body {
	font-family: sans-serif;
}

/* CSS for the index title "A Thousand Nights in Vegas */
.maintitle {
    width: 1800px;
    height: 75px;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;

}

.maintitle strong {
    color: red;
    border-radius: 25px;
    padding: 10px;
    border:1px dashed #333;
    background-color: #eee;
}

/* CSS for simulation container */
.simcontainer {
    height: 800px;
    width: 1800px;
    margin: 0 auto;
}

/* CSS for user game options */
.optioncontainer {
    height: 798px;
    width: 542px;
    float: left;
    margin: 0px;
    border:1px dashed #333;
	background-color:#eee;
    font-size: 14px;
}

.tooltip {
    width: 542px;
    height: 280px;
    border-bottom: 1px dashed #333;
}

.tooltipimg {
    float: right;
    height: 250px;
    width: 200px;
    margin-top: 30px;
}

.tooltiptext {
    float: left;
    height:  280px;
    width: 342px;
}

#gamecontainer {
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed #333;
}

#hiddengames {
    margin: 0px;
}

#rulescontainer {
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed #333;
}

#strategycontainer {
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed #333;
}

.startbutton {
    text-align: center;
}

.startbutton INPUT {
    margin-top: 20px;
}

.clickAppear {
	cursor: pointer;
	-webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.clickAppear:hover {
	background-color: #333;
	color: #eee;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* CSS for the graph */
.graphcontainer {
    height: 798px;
    width: 1254px;
    float: right;
    border:1px dashed #333;
	background-color:#eee;
}

path {
    stroke: black;
    stroke-width: 2;
    fill: none;
    opacity:0.1;
    shape-rendering: crispEdges;
}

.ave{
	stroke: red;
    stroke-width: 2;
    fill: none;
    opacity:1;
}

.axis text {
	font-size: 15px;
}

.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.grid .tick {
    stroke: #333;
    stroke-opacity: 0.4;
    shape-rendering: crispEdges;
    stroke-width: 1;
}

.grid path {
    stroke-width: 1;
    stroke: none;
}

/* CSS for additional info */
.additionalinfo {
    width: 1798px;
    height: 200px;
    margin: 0 auto;
    text-align: left;
    border:1px dashed #333;
	background-color:#eee;
    margin-bottom: 30px;
}

#memberslist {
    float: left;
    width: 150px;
    height: 100%;
    padding-left: 40px;
}

#classinfolist {
    float: left;
    width: 410px;
    height: 100%;
}

#resourceslist {
    float: left;
    width: 900px;
    height: 100%;
}