path {
    stroke: black;
    stroke-width: 2;
    fill: none;
    opacity:0.016;
}
.ave{
	stroke: steelblue;
    stroke-width: 2;
    fill: none;
    opacity:1;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}